<!doctype html>
<html class="no-js"  lang="en">
    {% include "imports.html" %}
    <body>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <!-- main-menu Start -->
        <header class="top-area">
            <div class="header-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="logo">
                                <a href="/tripHome" class="logo-left">
                                    trip<span>Sage</span>
                                </a>
                                {% if user.is_authenticated %}
                                    <a href="/users/logout" class="log-right">Logout</a>
                                {% else %}
                                    <a href="/users/login" class="log-right">login</a>
                                {% endif %}
                            </div><!-- /.logo-->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                    <div class="home-border"></div><!-- /.home-border-->
                </div><!-- /.container-->
            </div><!-- /.header-area -->
        </header><!-- /.top-area-->
        <!-- main-menu End -->                
    </body>
    <body class="page-background"></body>
</html>