<!-- templates/registration/login.html -->
{% include "header.html" %} {% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<section id="home" class="login-form">
  <div class="container">
    <div class="login-form-content">
      <div class="centered">
        <form method="post">
          {% csrf_token %}
          <!-- {{ form.as_p }} -->

          <form class="login-form" action="javascript:void(0);">
            <h1>Login</h1>
            <div class="form-input-material">
              <input
                type="text"
                name="username"
                id="username"
                placeholder=" "
                autocomplete="off"
                class="form-control-material"
                required
              />
              <label for="username">Username</label>
            </div>
            <div class="form-input-material">
              <input
                type="password"
                name="password"
                id="password"
                placeholder=" "
                autocomplete="off"
                class="form-control-material"
                required
              />
              <label for="password">Password</label>
            </div>
            <button type="submit" class="btn btn-primary btn-ghost">
              Login
            </button>
          </form>
          <br />
          New here? Then
          <a href="/users/signup">SignUp!</a>
        </form>
      </div>
    </div>
  </div>
</section>
